body
{
    background-color: rgb(236, 241, 210);
    height: 100vh;
}

h1
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}
.grd6 
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.grd6_1
{
    background-color: #f8b09b;
}

.grd6_2
{
    background-color: #eccec5;
}

.grd6_3
{
    background-color: #e6b6a8;
}

.grd6_4
{
    background-color: #eccec5;
}

.grd6_5
{
    background-color: #eccec5;
}

.grd6_6
{
    background-color: #ff8560;
}

#grd6_8
{
    grid-area: 2/3/2/-1;
}
#grd6_9
{
    grid-area: 3/1/3/-1;
    
}